{% extends "base_generic.html" %}

{% block content %}
  <div class='film-details-container'>
    <div class="film-poster">
      <img src="{{ film.poster_url }}" height="450px">
    </div>
    <div class="film-details">
        <div class="film-title">
            <a href="https://www.imdb.com/title/{{ film.ttcode }}">{{ film.title }}</a>
        </div>
        <div class="year-lang">
            <span>Language: <a href="/films/languages/{{ film.language.slug }}">{{ film.language.name }}</a></span>
            <span>Year: {{ film.year }}</span>
        </div>
        <div class="ratings">
            <span>Ranking: #{{ film.ranking }}</span>
            <span>IMDB Rating: {{ film.imdb_rating}}</span>
            <span>Metascore: {{ film.meta_score }}</span>
        </div>
        <div class="directors">
            <span>Directed by: </span>
            {% for director in film.directors.all %}
              {% if forloop.last %}
                <a href="/films/directors/{{ director.slug }}">{{ director.name }}</a>
              {% else %}
                <a href="/films/directors/{{ director.slug }}">{{ director.name }}</a>, 
              {% endif %}
            {% endfor %}
        </div>
        <div class="actors">
            <span>Starring: </span>
            {% for actor in film.actors.all %}
              {% if forloop.last %}
                <a href="/films/actors/{{ actor.slug }}">{{ actor.name }}</a>
              {% else %}
                <a href="/films/actors/{{ actor.slug }}">{{ actor.name }}</a>, 
              {% endif %}
            {% endfor %}
        </div>
        <div class="genres">
            <span>Genres: </span>
            {% for genre in film.genres.all %}
              {% if forloop.last %}
                <a href="/films/genres/{{ genre.slug }}">{{ genre.name }}</a>
              {% else %}
                <a href="/films/genres/{{ genre.slug }}">{{ genre.name }}</a>, 
              {% endif %}
            {% endfor %}
        </div>
        {% if user.is_authenticated %}
          <div class="film-buttons">
            {% if film in user.profile.fav_films.all %}
              <button class="remove-film-btn fav_btn" film_id="{{ film.id }}">Remove from Favs</button>
            {% else %}
              <button class="add-film-btn fav_btn" film_id="{{ film.id }}">Add to Favs</button>
            {% endif %}
            {% if film in user.profile.films_to_watch.all %}
              <button class="remove-film-btn to_watch_btn" film_id="{{ film.id }}">Remove from Watchlist</button>
            {% else %}
              <button class="add-film-btn to_watch_btn" film_id="{{ film.id }}">Add to Watchlist</button>
            {% endif %}
          </div>
        {% endif %}
    </div>
  </div>
  <div class='film-plot'>
    <div class='sub-heading'>Plot</div>
    <div>{{ film.plot }}</div>
  </div>
  <div class='film-comments'>
    <div class='sub-heading'>Comments <button class="add-comment-btn" onclick="location.href='/films/add-comment/film-{{ film.ranking }}'">+</button></div>
    <table class="comments-list">
      {% for comment in film.comment_set.all %}
        <tr><td>{{ comment.comment }}</td></tr>
        <tr class="comment-author">
          <td>
            - <a href="/user/{{ comment.author.id }}">{{ comment.author.username }}</a><span class="created_at"> @ {{ comment.created_at }}</span>
            {% if user.is_staff %}
              <button class='del-comment-btn' comment_id="{{ comment.id }}">Delete</button>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
    $('.fav_btn').click(function(){
      $.ajax({
        type: "POST",
        url: "{% url 'fave-film' %}",
        data: {'film_id': $(this).attr('film_id'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
        dataType: "json",
        success: function(response) {
          if ($('.fav_btn').hasClass('add-film-btn')) {
            $('.fav_btn').removeClass('add-film-btn').addClass('remove-film-btn');
            $('.fav_btn').text("Remove from Favs")
          }
          else {
            $('.fav_btn').removeClass('remove-film-btn').addClass('add-film-btn');
            $('.fav_btn').text("Add to Favs")
          }
        }
      });
    });
    $('.to_watch_btn').click(function(){
      $.ajax({
        type: "POST",
        url: "{% url 'watchlist-film' %}",
        data: {'film_id': $(this).attr('film_id'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
        dataType: "json",
        success: function(response) {
          if ($('.to_watch_btn').hasClass('add-film-btn')) {
            $('.to_watch_btn').removeClass('add-film-btn').addClass('remove-film-btn');
            $('.to_watch_btn').text("Remove from Watchlist")
          }
          else {
            $('.to_watch_btn').removeClass('remove-film-btn').addClass('add-film-btn');
            $('.to_watch_btn').text("Add to Watchlist")
          }
        }
      });
    });
    $('.del-comment-btn').click(function(){
      var self = this;
      $.ajax({
        type: "POST",
        url: "{% url 'delete-comment' %}",
        data: {'comment_id': $(this).attr('comment_id'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
        dataType: "json",
        success: function(response) {
          $(self).parents('tr').prev().remove();
          $(self).parents('tr').remove();
        }
      });
    });
  </script>

{% endblock %}
